* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

body {
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    max-width: 1440px;
    height: 100vh;
}

.container {
    max-width: 100%;
    width: 20rem;
    height: 33rem;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 12%);
    margin: 65px auto;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    padding: 30px 20px 15px 20px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

img {
    object-fit: cover;
    border-radius: 50%;
    width: 80px;

}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 22px;
    padding: 18px 0px 2px 0px;
}

.p_green {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0px 18px 0px;
}

p {
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    padding: 2px 0px 20px 0px;
    font-weight: normal;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

li {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0rem 1rem;
    font-weight: bold;
}
li:hover {
   background-color: hsl(75, 94%, 57%) ;
   border: hsl(75, 94%, 57%) ;
   color: hsl(0, 0%, 12%);
    cursor: pointer;
}
